<h2 class="screen-align">Addplants</h2>
<div id="template-i069" class="row">
    <div id="template-ipdg" class="cell">
        <label id="template-ibeh" class="label">Name</label>
        <input id="template-ijxq" [(ngModel)]="plants.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-ic1w" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-i45c" class="cell">
        <label id="template-i3ms" class="label">Description</label>
        <input id="template-iqzy" [(ngModel)]="plants.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>